<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Você deseja remover essa musica de sua lista?</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Sim</button> 
        {% if musica_aprender %}
            <a href="{% url 'url_listmusicasaprender' %}">Não</a>
        {% elif musica_aprendida %}
            <a href="{% url 'url_listmusicasaprendidas' %}">Não</a>
        {% endif %}
    </form>
</body>
</html>