<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form musicas para aprender</title>
</head>
<body>
    <head>
        <h1> Update Músicas </h1>
    </head>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <button type='submit'>Atualizar música</button>
    </form>
    {% if id_musica_aprender %}
        <a href="{% url 'url_perfilmusicaaprender' id_musica_aprender %}">Cancelar</a>
    {% elif id_musica_aprendida %}
        <a href="{% url 'url_perfilmusicaaprendida' id_musica_aprendida %}">Cancelar</a>
    {% endif %}
</body>
</html>