<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{musica.nome_musica}}</title>
</head>
<body>
    <div class="caixa-musica">
        <img src="{{musica.capa_album}}" alt="{{musica.nome_musica}}"><br>
        Artista: <h3>{{musica.nome_banda}}</h3>
        Obra: <h3>{{musica.nome_musica}}</h3>
        Duração(em segundos): <h3>{{musica.duracao}}</h3>
        BPM: <h3>{{musica.bpm}}</h3>
        Instrumento para aprendizado: <h3>{{musica.instrumento}}</h3>
        <div class="musica-aprendida">
            <form action="{% url 'url_createmusicasaprendidas'%}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id_musica" value="{{musica.id}}">
                <p>de 0 a 5, o quão bem executado você toca essa música?</p>
                <select name="dominio">
                    <option value="0" >0</option>
                    <option value="1" >1</option>
                    <option value="2" >2</option>
                    <option value="3" >3</option>
                    <option value="4" >4</option>
                    <option value="5" >5</option>
                </select>
                <br>
                <button type="submit">Aprendi a música!!</button>
            </form>
        </div>
        <a href="{% url 'url_updatemusicas' musica.id %}"> Editar instrumento de aprendizado</a>  ||
        <a href="{% url 'url_deletemusicas' musica.id %}"> Excluir musica da lista de musicas para aprender</a>
    </div>
    <a href="{% url 'url_listmusicasaprender'%}">Voltar</a>
</body>
</html>